.fe{
    text-align: center;
    color : white;
    font-weight: 10px;
    font-family: Roboto;
}

.hu{
    background-color: gray;
    background-size: cover;
    height : 100px;
    

    
}
.up{

}